.segment-title {
    border-bottom: 2px black solid;
}

.cultist-box {
    border: 1px black solid;
}

.textLog {
    height: 48vh
}

.tab-content {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.no-bottom-margin {
    margin-bottom: 0 !important;
}

.container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
}


.button_list {
    display: flex;
    flex-wrap: wrap;
}


/*Tooltip*/
.tooltip {
    position: absolute;
    z-index: 1000;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
}